In [1]:
import sqlite3

Create a new SQLite database file

In [2]:
conn = sqlite3.connect('sample.db')

Define a table creation statement, create a cursor, and execute the statement, commiting it afterwards!

In [3]:
create = 'CREATE TABLE otters (id integer primary key, name TEXT, surname TEXT, role TEXT)'

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute(create)
conn.commit()

Add some data to our table

In [6]:
otters = [
    ['Iain', 'McNicol', 'Pod Lead'],
    ['Euan', 'Mitchell', 'Data Scientist'],
    ['David', 'McLeish', 'Data Scientist'],
    ['Anna', 'Fumagalli', 'Data Scientist'],
    ['Lucy', 'Parker', 'Data Analyst'],
    ['Ben', 'Laverick', 'Ecologist']
]

In [7]:
insert_query = 'INSERT INTO otters(name, surname, role) VALUES(?, ?, ?)'

In [8]:
for otter in otters:
    cursor.execute(insert_query, otter)
conn.commit()

Now we can query our database

In [9]:
select_all = 'SELECT * FROM otters'

In [10]:
select_ds = 'SELECT * FROM otters WHERE role = "Data Scientist"'

In [11]:
for i in cursor.execute(select_all):
    print(i)

(1, 'Iain', 'McNicol', 'Pod Lead')
(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')
(5, 'Lucy', 'Parker', 'Data Analyst')
(6, 'Ben', 'Laverick', 'Ecologist')

In [12]:
for i in cursor.execute(select_ds):
    print(i)

(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')