In [1]:
import sqlite3

Create a new SQLite database file

In [2]:
conn = sqlite3.connect('sample.db')

Define a table creation statement, create a cursor, and execute the statement, commiting it afterwards!

In [ ]:
create = 'CREATE TABLE otters (id integer primary key, name TEXT, surname TEXT, role TEXT)'

In [3]:
cursor = conn.cursor()

In [ ]:
cursor.execute(create)
conn.commit()

Add some data to our table

In [ ]:
otters = [
    ['Iain', 'McNicol', 'Pod Lead'],
    ['Euan', 'Mitchell', 'Data Scientist'],
    ['David', 'McLeish', 'Data Scientist'],
    ['Anna', 'Fumagalli', 'Data Scientist'],
    ['Lucy', 'Parker', 'Data Analyst'],
    ['Ben', 'Laverick', 'Ecologist']
]

In [ ]:
insert_query = 'INSERT INTO otters(name, surname, role) VALUES(?, ?, ?)'

In [ ]:
for otter in otters:
    cursor.execute(insert_query, otter)
conn.commit()

Now we can query our database

In [4]:
select_all = 'SELECT * FROM otters'

In [10]:
select_ds = 'SELECT * FROM otters WHERE role = "Data Scientist"'

In [15]:
select_ds_da = 'SELECT name, surname FROM otters WHERE role IN ("Data Scientist", "Data Analyst")'

In [6]:
select_name = 'SELECT name FROM otters'

In [5]:
for i in cursor.execute(select_all):
    print(i)

(1, 'Iain', 'McNicol', 'Pod Lead')
(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')
(5, 'Lucy', 'Parker', 'Data Analyst')
(6, 'Ben', 'Laverick', 'Ecologist')

In [11]:
for i in cursor.execute(select_ds):
    print(i)

(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')

In [16]:
for i in cursor.execute(select_ds_da):
    print(i)

('Euan', 'Mitchell')
('David', 'McLeish')
('Anna', 'Fumagalli')
('Lucy', 'Parker')

In [26]:
for i in cursor.execute(select_name):
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

Adding query modifiers

In [19]:
# Sort the results

sorted_query = 'SELECT * FROM otters ORDER BY surname DESC'

for i in cursor.execute(sorted_query):
    print(i)

(5, 'Lucy', 'Parker', 'Data Analyst')
(2, 'Euan', 'Mitchell', 'Data Scientist')
(1, 'Iain', 'McNicol', 'Pod Lead')
(3, 'David', 'McLeish', 'Data Scientist')
(6, 'Ben', 'Laverick', 'Ecologist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')

In [20]:
# Limit output

limited_query = 'SELECT * FROM otters LIMIT 4'

for i in cursor.execute(limited_query):
    print(i)

(1, 'Iain', 'McNicol', 'Pod Lead')
(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')

In [25]:
# Distinct results

distinct_query = 'SELECT DISTINCT role FROM otters'

for i in cursor.execute(distinct_query):
    print(i)

('Pod Lead',)
('Data Scientist',)
('Data Analyst',)
('Ecologist',)

Searching the results

In [29]:
fuzzy_query = 'SELECT * FROM otters WHERE surname LIKE "L%"'

for i in cursor.execute(fuzzy_query):
    print(i)

(6, 'Ben', 'Laverick', 'Ecologist')

In [30]:
fuzzy_query2 = 'SELECT * FROM otters WHERE surname LIKE "%L%"'

for i in cursor.execute(fuzzy_query2):
    print(i)

(1, 'Iain', 'McNicol', 'Pod Lead')
(2, 'Euan', 'Mitchell', 'Data Scientist')
(3, 'David', 'McLeish', 'Data Scientist')
(4, 'Anna', 'Fumagalli', 'Data Scientist')
(6, 'Ben', 'Laverick', 'Ecologist')

In [41]:
# LIKE 'anything + an i + two characters' matches McLeish and Laverick

fuzzy_query3 = 'SELECT * FROM otters WHERE surname LIKE "%i__"'

for i in cursor.execute(fuzzy_query3):
    print(i)

(3, 'David', 'McLeish', 'Data Scientist')
(6, 'Ben', 'Laverick', 'Ecologist')

In [40]:
# LIKE 'anything + an i + three characters' matches McNicol only

fuzzy_query3b = 'SELECT * FROM otters WHERE surname LIKE "%i___"'

for i in cursor.execute(fuzzy_query3b):
    print(i)

(1, 'Iain', 'McNicol', 'Pod Lead')